<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="150x150" href="https://res.cloudinary.com/derr70tq5/image/upload/v1717007311/image/logo.png" type="image/png">
    <title>category</title>
    <link rel="stylesheet" href="/css/Category.css">
</head>
<body>
    <h1>Chose your topic</h1>
    <div class="grid-container"></div>
    <script src="/js/Category.js"></script>
</body>
</html>